{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <div class="body-content">
        <div class="page-header">
          <a href="{% url 'post_draft_list' %}" class="top-right"><span class="glyphicon glyphicon-edit"></span></a>
          <h1><a href="{% url 'home' %}">Django Girls Blog</a></h1>
        </div>
        <div class="top-menu">
           {% block authenticate %}
             {% if user.is_authenticated %}
               <p>User: {{ user.get_username }}</p>
               <a href="{% url 'logout'%}?next={{request.path}}">Logout</a><br>
               <a href="{% url 'home' %}" class="">Go to Home Page</a>
             {% else %}
               <a href="{% url 'login'%}?next={{request.path}}">Login</a> /
               <a href="{% url 'sign_up'%}?next={{request.path}}">Signup</a> /
               <a href="{% url 'home' %}" class="">Go to Home Page</a>
             {% endif %}
           {% endblock %}
        </div>
        <div class="content">
          <ul>
            {% block message %}
              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
            {% endblock %}

            {% block content %}
            {% endblock %}
          </ul>
        </div>
      </div>
    </body>
</html>
