{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <div class="page-header">
        <!-- <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a> -->
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>
      <div class="content container">
        <div class="top-menu">
          <ul class="sidebar-nav">
           {% block authenticate %}
             {% if user.is_authenticated %}
               <li>User: {{ user.get_username }}</li>
               <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
             {% else %}
               <li><a href="{% url 'login'%}">Login</a></li>
               <p>or</p>
               <li><a href="{% url 'sign_up'%}?next={{request.path}}">Signup</a></li>
           {% endif %}
           {% endblock %}
          </ul>
        </div>
        <div class="col-md-8">
          <div class="content">
            {% block posts %}
            <a href="{% url 'post_new' %}" class="">Add new posts<span class="glyphicon glyphicon-plus"></span></a>
            {% endblock %}
            {% block message %}
              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
            {% endblock %}

            {% block content %}
            {% endblock %}

          </div>
        </div>
      </div>
    </body>
</html>
