{% extends 'blog/base.html' %}
{% block title %} <title>Learning CSS</title>{% endblock %}

{% block content %}
  <!-- <div id="box1">
    Learning CSS is fun!
  </div>
  <div id="box2">
    Learning CSS is fun!
  </div> -->
  <!-- <p id="pTest"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

  <div id="box1" class="divBoxes">Box 1</div>
  <div id="box2" class="divBoxes">Box 2</div>
  <div id="box3" class="divBoxes">Box 3</div>
  <div id="box4" class="divBoxes">Box 4</div>
  <div id="box5" class="divBoxes">Box 5</div>
  <div id="box6" class="divBoxes">Box 6</div>
  <div id="box7" class="divBoxes">Box 7</div>

  <p>This is some text that is not float</p>
  <p>This is more text that is not float</p>
  <p>This is yet more text that is not float</p>

  <br><br>
  <p><img class="halloween_pic" src="../static/images/halloween_pic.png" alt="No Halloween pic">A bunch of text!</p>


{% endblock %}
