
body{
  padding-left: 20px;
  padding-right: 30px;
}

.signUpline a, #userName{
  float:right; color:green; font-size:20pt;
}

.page-header {
    background-color: #ff9400;
    font-family: 'Lobster', cursive;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    display: block;
    background: #ffffff;
    float: right;
    font-size: 15pt;
    margin-right: 15px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a:hover {
    color: #006400;
}
.post h2 a:visited {
    color: #FF6347;
}

/* css sampling from book */
/* div#box1 {
  margin: 20px; padding: 10px; border: 5px solid black;
  width: 100px; height: 100px;
  text-align: justify; float: left;
}
div#box2 {
  margin: 20px; padding: 50px; border: 5px solid black;
  width: 100px; height: 100px;
  text-align: left; float: left;
} */

.divBoxes {
  padding: 5px;
  border: 1px dashed black;
  margin: 5px;
  float: left;
  /* background-color: green; */
}

#box1{
  width: 60px;
  height: 100px;
}
#box2{
  width: 100x;
  height: 40px;
}
#box3{
  width: 50px;
  height: 150px;
}
#box4{
  width: 40px;
  height: 50px;
}
#box5{
  position: fixed;
  width: 150px;
  height: 120px;
  right: 0;
  bottom: 0;
}
#box6{
  width: 120px;
  height: 70px;
}
#box7{
  width: 25px;
  height: 80px;
}

img {
  float: right;
  width: 50%;
  height: 80px;
}

/* jQueries */
.redClass{
  color:red; font-style:italic;
  }

#divPanelYellow {
  position: relative;
  width: 100px; height: 100px;
  border: 1px solid #000000;
  background: yellow;
  cursor: pointer;
}
